:global {
  .slide-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    background: #fff;

    button {
      margin: 0 4px;
    }
  }
}
