:global {
  .ts-model {
    .tree-select-model-container {
      height: 300px;
      overflow-y: auto;
      padding-left: 46px;
    }
    .ts-model-search-area {
      .ant-legacy-form-item-control-wrapper {
        .ant-checkbox-group {
          margin-left: -24px;
        }
      }
    }
    .ant-modal-body {
      overflow-x: hidden;
      padding: 24px 0;
    }
    #search-area-lov {
      .ant-row {
        margin: 0 !important;
      }
    }
  }
  .tree-select-model {
    .value {
      padding: 0 8px;
      display: inline-block;
      height: 22px;
      line-height: 22px;
      .ant-input {
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        padding: 0 !important;
      }
      input::-webkit-input-placeholder,
      input::-moz-placeholder,
      input:-ms-input-placeholder,
      input::placeholder {
        color: #111;
      }
      .ant-input-suffix {
        margin: 0;
      }
    }
  }
}
